/* bootstrap classes */

.row {
	padding : 10px 10px 0px 10px;
}

/* NVD3 classes */
.nvtooltip {

 	 border-width : 0px !important; 
    border-radius: 0px !important;
}

/* custom classes */  

.bandeau{
  background-color : #52C4F9;
}

.titre {
  	color : white;
}

.titre small{
  color : #f5f5f5;
}

  
  .bloc-courbe {
	padding-left : 0px;
	padding-right : 10px;
  }
 

  .infoBulle{
		border-width : 1px;
      border-style : solid;
    	padding : 5px 5px 5px 5px;
  }

  .tranche0{
    background-color: white;
  }

  .tranche14{
    color: #3c763d;
    border-color : #3c763d;
    background-color: #dff0d8;    
  }

  .tranche30{
    color: #31708f;
    border-color : #31708f;
    background-color: #d9edf7;
  }

  .tranche41{
    color: #8a6d3b;
    border-color : #8a6d3b;
    background-color: #fcf8e3;
  }

  .tranche45{
    color: #a94442;
    border-color : #a94442;
    background-color: #f2dede;
  }

  
  .bloc-inputs{
	 padding-top : 10px;
  }
 
 #inputRevenusGroup {
	width : 100%;
}

#resultats, #details{
	margin-top : 20px;
}


.row > div {
  padding : 10px 10px 10px 10px;
}

