body {
	background-color : #52C4F9;
}

/* bootstrap classes */

.container {
background-color : #52C4F9;
}

.row {
	padding : 10px 10px 0px 10px;
	background-color : #52C4F9;
}

/* NVD3 classes */
.nvtooltip {

 	 border-width : 0px !important; 
    border-radius: 0px !important;
}

/* custom classes */  
  
.titre {
background-color : white;
}

.arrondi{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

  
  .bloc-courbe {
	background-color : #52C4F9; 
	padding-left : 0px;
	padding-right : 10px;
  }
  
  .courbe{
	background-color : white;
  }

  .infoBulle{
		border-width : 1px;
      border-style : solid;
    	padding : 5px 5px 5px 5px;
  }

  .tranche0{
    background-color: white;
  }

  .tranche14{
    color: #3c763d;
    border-color : #3c763d;
    background-color: #dff0d8;    
  }

  .tranche30{
    color: #31708f;
    border-color : #31708f;
    background-color: #d9edf7;
  }

  .tranche41{
    color: #8a6d3b;
    border-width : 1px;
    border-color : #8a6d3b;
    background-color: #fcf8e3;
  }

  .tranche45{
    color: #a94442;
    border-color : #a94442;
    background-color: #f2dede;
  }

  
  .bloc-inputs{
    background-color : white;
	 padding-top : 10px;
  }
 
 #inputRevenusGroup {
	width : 100%;
}

#resultats{
	margin-top : 20px;
}

#details{
	margin-top : 20px;
}

#technos, #contact {
  padding : 10px 10px 10px 10px;
  background-color : white;
}

.last-row {
	padding : 10px 10px 10px 10px;
}

.footer {
	background-color : white;
}