<div class="row">
  	<div>
     
      <div class="panel panel-default">
        <div class="panel-heading">Pourquoi ce site ?</div>
        <div class="panel-body">
			<p> 
				Quand on est salarié, on sait qu'il faut garder chaque mois une partie de son salaire pour payer l'impôt sur le revenu (IR).
				Cette somme pouvant être mensualisée, ce n'est pas forcément une préoccupation pour le salarié. 
			</p>
			<p>
				Par contre, quand on devient travailleur non salarié (TNS), on ne sait pas bien le montant que l'on va devoir payer. 
				Cette somme pouvant être beaucoup plus importante, il est important de savoir à quoi s'attendre.
				La plupart des simulateurs présents sur le net sont complexes. 
				Ce site a donc été développé pour pouvoir donner une idée du montant à payer en saisissant uniquement le montant de sa rémunération annuelle.
			</p>
        </div>	  
        <div class="panel-heading">Comment ça marche ?</div>
        <div class="panel-body">
			<p>			
				Les chiffres calculés par le simulateur peuvent différer de ceux calculés par le Ministère des finances et des comptes publics. 
				Il s'agit d'une simulation simplifiée au maximum, basée sur les tranches d'imposition données par le Ministère sur cette page : 
				<a href="http://vosdroits.service-public.fr/particuliers/F1419.xhtml">
					Quel est le barème de l'impôt sur le revenu ?
				</a>. 
				Le simulateur calcule le montant de l'impôt sur le revenu 2015 pour une personne célibataire. 
				Les charges et les abattements et les réductions d'impôt ne sont pas pris en compte. 
			</p>
			<p>
				Dans le simulateur, le montant à saisir est nommé rémunération et dépend du statut du travailleur. 
				S'il s'agit par exemple d'une Entreprise Individuelle, la rémunération correspond aux revenus annules HT.
				S'il s'agit d'une EURL, la rémunération correspond à ce que l'entreprise verse au travailleur.
			</p>
        </div>
      </div>     
 
     
    </div>
 
</div>

