<div class="row">
  	<div id="contact" class="arrondi" ng-controller="ContactCtrl">
     
      <div class="panel panel-default">
        <div class="panel-heading">Une question ? Une remarque ? Une suggestion ? </div>
        <div class="panel-body">
            Pour me contacter par e-mail, <a href="#/contact" ng-click="ouvrirFenetreEnvoiEmail()">cliquer ici</a>.<br/>
   			Pour me suivre sur Twitter : 
            <a href="https://twitter.com/jf_fourmond" class="twitter-follow-button" data-show-count="false">Follow @jf_fourmond</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          
        </div>
      </div>     
  
     
    </div>
 
</div>

