	  
        <div class="row contenu" ng-controller="CalculCtrl"> 
            <div class="bloc-courbe hidden-xs hidden-sm hidden-md col-lg-7 text-center"> 
              <div class="courbe arrondi">
                <div ng-controller="CourbeCtrl">
                   <nvd3-line-chart
                      data="data"
                        id="impotChart"
                        width="560"
                        height="350"
                        xAxisTickValues="getValeursAxeX()"
                        yAxisTickValues="getValeursAxeY()"
                        margin="{left:75,top:20,bottom:50,right:20}"
                        showXAxis="true"
                        showYAxis="true"
                        yAxisShowMaxMin="false"
        						xAxisShowMaxMin="false"
                        xAxisLabel="montant de la rémunération en euros"
                        yAxisLabel="montant de l'impot en euros"
                        yAxisTickFormat="arrondir()"
                        interactive="true"
                        tooltips="true">
                        <svg></svg>
                    </nvd3-line-chart>
                </div>
              </div>
            </div> 
 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bloc-inputs arrondi"> 		 
				<label for="inputRevenus">Saisissez le montant de votre rémunération :</label>
				<div id ="inputRevenusGroup" class="input-group">
					<input
						id="inputRevenus"
						 type="number" 
						 min="0"
						 step="5000"
						ng-model="remuneration" 
						ng-change="calculerMontantIR()" 
						class="form-control" 
						aria-describedby="inputRevenus-addon"/> 
					<span class="input-group-addon" id="inputRevenus-addon">euros par an </span>
				</div>			  	
			
			         
				<div id="resultats">
					<label>Montant de votre impôt sur le revenu :</label> <br/>
					<span class="h1">{{montantIR | number:0}} €</span> / an, soit {{pourcentageIR | number:0}}% de votre rémunération.
				</div>
				
				<div id="details">
					<label>Détail :</label><br/>
					<ul class="list-group">
					  <li class="list-group-item">Tranche à {{tranche1.tauxImposition}}% : {{montantImpotTranche1 | number:0}} €</li>
					  <li class="list-group-item list-group-item-success">Tranche à {{tranche2.tauxImposition}}% : {{montantImpotTranche2 | number:0}} €</li>
					  <li class="list-group-item list-group-item-info">Tranche à {{tranche3.tauxImposition}}% : {{montantImpotTranche3 | number:0}} €</li>
					  <li class="list-group-item list-group-item-warning">Tranche à {{tranche4.tauxImposition}}% : {{montantImpotTranche4 | number:0}} €</li>
					  <li class="list-group-item list-group-item-danger">Tranche à {{tranche5.tauxImposition}}% : {{montantImpotTranche5 | number:0}} €</li>
					</ul>
	
				</div>
            </div> 
        </div> 
	