<div class="row" ng-controller="CalculController as calcul">

    <div class="bloc-courbe hidden-xs hidden-sm hidden-md col-lg-7 text-center" 
        ng-controller="CourbeController as courbe">
        
        <nvd3-line-chart data="courbe.data" id="impotChart" width="560" height="350" interactive="true" 
            xAxisTickValues="courbe.getValeursAxeX()" yAxisTickValues="courbe.getValeursAxeY()" 
            margin="{left:75,top:20,bottom:50,right:20}" 
            showXAxis="true" showYAxis="true" 
            yAxisShowMaxMin="false" xAxisShowMaxMin="false" 
            xAxisLabel="montant de la rémunération en euros" 
            yAxisLabel="montant de l'impôt en euros" 
            xAxisTickFormat="courbe.arrondirValeursAxe()" 
            yAxisTickFormat="courbe.arrondirValeursAxe()" 
            tooltips="true" tooltipcontent="courbe.getContenuInfoBulle()">
            <svg></svg>
        </nvd3-line-chart>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bloc-inputs arrondi">
        <label for="inputRevenus">Saisissez le montant de votre rémunération :</label>
        <div id="inputRevenusGroup" class="input-group">
            <input id="inputRevenus" type="number" min="0" step="5000" 
                ng-model="calcul.remuneration" ng-change="calcul.calculerMontantIR()" 
                class="form-control" aria-describedby="inputRevenus-addon" />
            <span class="input-group-addon" id="inputRevenus-addon">euros par an </span>
        </div>


        <div id="resultats">
            <label>Montant de votre impôt sur le revenu :</label>
            <br/>
            <span class="h1">{{calcul.montantIR | nombreEntier}} €</span> / an, 
                soit {{calcul.pourcentageIR | nombreEntier}}% de votre rémunération.
        </div>

        <div id="details">
            <label>Détail :</label>
            <br/>
            <ul class="list-group">
                <li class="list-group-item">Tranche à {{calcul.tranche1.tauxImposition}}% : {{calcul.montantImpotTranche1 | nombreEntier}} €</li>
                <li class="list-group-item list-group-item-success">Tranche à {{calcul.tranche2.tauxImposition}}% : {{calcul.montantImpotTranche2 | nombreEntier}} €</li>
                <li class="list-group-item list-group-item-info">Tranche à {{calcul.tranche3.tauxImposition}}% : {{calcul.montantImpotTranche3 | nombreEntier}} €</li>
                <li class="list-group-item list-group-item-warning">Tranche à {{calcul.tranche4.tauxImposition}}% : {{calcul.montantImpotTranche4 | nombreEntier}} €</li>
                <li class="list-group-item list-group-item-danger">Tranche à {{calcul.tranche5.tauxImposition}}% : {{calcul.montantImpotTranche5 | nombreEntier}} €</li>
            </ul>

        </div>
    </div>
</div>